{% extends 'base.html' %}
{% block body %}
    <div class="container mt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a class="text-breadcrumb" href="/">文章列表</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
            </ol>
        </nav>
        <div>
            <h1 class="card-title fs-3 text-secondary-emphasis">{{ post.title }}</h1>
            <div class="mt-2">
                <span class="badge rounded-pill bg-success">作者: {{ post.author }}</span>
                <span class="badge rounded-pill bg-success">發表時間: {{ post.created_date }}</span>
            </div>
        </div>
        <hr />
        <p class="card-text text-body-secondary">{{ post.content|safe }}</p>
    </div>
    </div>
{% endblock %}
