{% extends 'base.html' %}
{% block body %}
    <div class="container mt-5 text-body-secondary">
        <h1>文章列表</h1>
        <div class="row">
        {% for post in object_list %}
            <div class="col-md-6 col-lg-4">
            <div class="card my-3 border-3 border-success-subtle">

                <div class="card-header">
                    <span class="card-title fs-5 text-secondary-emphasis">{{ post.title }}</span>
                </div>

                <div class="card-body">
                    <p class="card-text text-body-secondary text-truncate">{{ post.content|safe }}</p>
                    <a href="/post/{{ post.id }}" class="btn btn-outline-success btn-sm rounded-5 float-end">
                        閱讀更多
                    </a>
                </div>
                <div class="card-footer text-end bg-transparent border-top-0 pt-0">
                    <span class="badge rounded-pill bg-success">作者: {{ post.author }}</span>
                    <span class="badge rounded-pill bg-success">發表時間: {{ post.created_date }}</span>
                </div>
            </div>
            </div>
        {% endfor %}
        </div>
        {% include "pagination.html" %}
    </div>
{% endblock %}
